*~
.*~
\#*
.\#*

/cbmc-viewer
/make-coverage
/make-loop
/make-property
/make-reachable
/make-result
/make-source
/make-symbol
/make-trace
/src/cbmc_viewer.egg-info

/build
/dist
/.tox

.litani_cache_dir
.ninja_log
__pycache__/
