name: Test generating symbols from ctags
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

permissions:
  contents: read

jobs:
  legacy:
    name: Legacy ctags test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install brew packages and ensure legacy ctags
        run: |
          brew uninstall ctags || true
          brew uninstall universal-ctags || true
          brew install cbmc litani
      - name: Compare symbol tables with legacy ctags
        run: |
          cd tests/unit-tests/ctags
          ctags || true
          make COMMIT1=${{ github.event.pull_request.head.sha }} COMMIT2=${{ github.event.pull_request.base.sha }}

  exuberant:
    name: Exuberant ctags test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install brew packages and ensure exuberant ctags
        run: |
          brew uninstall ctags || true
          brew uninstall universal-ctags || true
          brew install cbmc litani ctags
      - name: Compare symbol tables with exuberant ctags
        run: |
          cd tests/unit-tests/ctags
          ctags || true
          make COMMIT1=${{ github.event.pull_request.head.sha }} COMMIT2=${{ github.event.pull_request.base.sha }}

  universal:
    name: Universal ctags test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install brew packages and ensure universal ctags
        run: |
          brew uninstall ctags || true
          brew uninstall universal-ctags || true
          brew install cbmc litani universal-ctags
      - name: Compare symbol tables with universal ctags
        run: |
          cd tests/unit-tests/ctags
          ctags || true
          make COMMIT1=${{ github.event.pull_request.head.sha }} COMMIT2=${{ github.event.pull_request.base.sha }}
